[submodule ".themes/object"]
	path = .themes/object
	url = https://github.com/gluttony/object-octopress-theme.git
[submodule "themes/octoair"]
	path = themes/octoair
	url = https://github.com/syui/syui.github.io.git
